@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: none;
}

p:has(> a > img) {
    align-self: center;
}

@media (prefers-color-scheme: dark) {
    .markdown-body {
        --color-canvas-default: #1E1F1E !important;
    }
}